/* 
ciao
*/

.table-yulia {
    border-collapse: collapse;
    width: 100%;
}


td > th {
    border: 1px solid;
    text-align: center;
}

.titolo-medio {
    color: blue;
} 
.titolo-grande {
    color: blue;
}

.paragrafo-normale {
    background-color: lightblue;
}

.padre {
    color: red;
}
